:root {
  --color-main: #2A1340;
  --color-sec: #A073EC;
  --color-third: #AC65DC;
  --color-heroT: #562F69;
  --color-heroB: #351A4A;
  --grad-main: linear-gradient(180deg, rgba(42, 19, 64, 0) 0%, rgba(42, 19, 64, 0.5) 100%);
  --grad-sec: linear-gradient(180deg, rgba(160, 115, 236, 0) 0%, rgba(160, 115, 236, 0.5) 100%);
  --grad-third: linear-gradient(180deg, rgba(172, 101, 220, 0) 0%, rgba(172, 101, 220, 0.5) 100%);
  --gradf-main: linear-gradient(180deg, rgba(42, 19, 64, 0) 0%, rgba(42, 19, 64, 1) 100%);
  --gradf-sec: linear-gradient(180deg, rgba(160, 115, 236, 0) 0%, rgba(160, 115, 236, 1) 100%);
  --gradf-third: linear-gradient(180deg, rgba(172, 101, 220, 0) 0%, rgba(172, 101, 220, 1) 100%);
}

body {
  background: black;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-container {
  position: relative;
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex: 1;*/
  /*width: 100%;*/
  /*overflow: visible;*/
  /*height: 100vh;*/
}

.container {
  position: relative;
  height: 100vh;
}

.heading {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.heading p {
  font-size: clamp(12px, 15.5vw, 250px);
  font-size: 20vw;
  text-align: center;
  line-height: 0.67;
  margin: 0;
  color: #111;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: -10;
}

.text-container {
  position: relative;
}

.text-container p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: transparent;
}
.just-feel {
  font-size: 5vw !important;
}

.text-container p:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: white;
}


.box {
  font-size: 100px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
}

.box:first-child  {
  color: white;
  z-index: 999;
  position: absolute;
  font-size: 100px;
}
.box {
    font-size: 100px;
    position: absolute;
    z-index: 999;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
}


.text-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: black;
}

.text-container p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: transparent;
}

.text-container p:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: white;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Мои стили */
.title {
  font-family: Neue, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: clamp(50px, 7.142857142857143vw, 100vw);
  margin-bottom: 165px;
  opacity: 0.8 !important;
}

.manifest {
  position: relative;
  z-index: 5;
  overflow: hidden;
  background: var(--color-third);
  padding: 135px 125px 135px 20px;
  margin-top: -80px;
  color: var(--color-main);
  transition: all .7s cubic-bezier(.77, .2, .05, 1);
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
  border-radius: 80px;
}

.description {
  color: #fff;
  width: 23.214285714285715vw;
  margin-left: auto;
  transition: color .7s cubic-bezier(.77,.2,.05,1);
}

.icon {
  position: absolute;
  bottom: 148px;
  left: -40px;
}

.line {
  position: relative;
}

.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-third);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: 2;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #ffffff;
  padding: 0;
  border-radius: 90px;
}

ul li {
  transition: 0s background-color;
}

ul li:hover{
  color: white;
  background-color: #faadff;
  transition-delay:0.001s;
  border-radius: 90px;
}

.right {
  padding-left: 132px;
}


.link {
  position: relative;
  z-index: 5;
  display: block;
  border: 0;
  box-shadow: none;
  background: 0 0;
  border-radius: 90px;
  padding: 22.5px 35px;
  color: #161616;
  font-family: Neue, Arial, Helvetica, sans-serif;
  line-height: 1.1875;
  font-size: clamp(15px, 1.142857142857143vw, 100vw);
  transition: all .4s cubic-bezier(.77, .2, .05, 1);
}

.sticky {
  width: 23.214285714285715vw;
  position: relative;
  background: red;
  border-radius: 230px;
  overflow: hidden;
  transform: translateZ(0);
  z-index: 11;
}

.row {
  position: relative;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
  z-index: 10;
  padding-right: 132px;
}

.navigation ul {

  /*position: absolute;*/
  /*z-index: 12;*/
  /*top: 20px;*/
  /*left: 50%;*/
  /*transform: translate(-50%, 0);*/
  /*right: auto;*/
}

.theHeader {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 15;
}

